@if (auth.isAuthenticated()) {
  <nz-layout class="app-layout">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
    >
      <app-budget-switcher class="sidebar-logo" [collapsed]="isCollapsed" />
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        @if (budgets.current(); as current) {
          <li nz-menu-item nzMatchRouter [routerLink]="['/budgets', current.id]">
            <nz-icon nzType="wallet" />
            <span>Budget</span>
          </li>
        }
        <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="/budgets">
          <nz-icon nzType="unordered-list" />
          <span>All budgets</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
          </span>
          <button
            nz-button
            nzType="text"
            class="header-logout"
            type="button"
            [nzLoading]="logout.isPending()"
            (click)="logout.mutate()"
          >
            <nz-icon nzType="logout" />
            Log out
          </button>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
} @else {
  <router-outlet></router-outlet>
}
